body{
    background-color: black;
}

H1{
    color: white;
    text-align: center;
}

.cabeçalho{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;    
}

.imagem-container{
    width: 50px;
    height: 50px;
    padding: 1em;
}

.container__imagem {
    padding: 1em;
    width: 50px;
    height: 50px;
}

    .lista-menu{
        display:none;
    }

.containerbotao:checked ~ .lista-menu{
    display:block;
}












